## Rules based checks

You can use rules and simple functions both for filtering and deduplication of the data and for checking the quality of synthetic data generations. 

As you'd expect the rules that you define will be based on the domain and the data that you have.

In [2]:
dataset[0]['generations']

['This dataset contains categorized records of instructions, contexts, and responses, curated to ensure clarity, accuracy, and relevance, suitable for training AI models to understand and respond to instructions effectively.',
 'The Databricks-Dolly-15k-Curated dataset comprises corrected records of instructions, context, and responses that adhere to specific categories, aiming to ensure high-quality data and real information, which can be utilized to enhance natural language understanding and generation tasks.']

## Checking the quality of synthetic data

The dataset below is a synthetic dataset generated which is aiming to use an LLM to generate tl;dr summaries of dataset cards. We have some instruction in our prompt which tell the model to not repeat information that is probably better as structured metadata. In the synthetic dataset generation pipeline, we use a judge LLM to check the quality of the generated summaries against the instructions.

In [15]:
from datasets import load_dataset

dataset = load_dataset(
    "davanstrien/dataset-preferences-llm-course-full-dataset", split="train"
)

In [16]:
dataset

Dataset({
    features: ['datasetId', 'card', 'instruction', 'system_prompt', 'generation_models', 'generations', 'model_name', 'ratings', 'rationales'],
    num_rows: 2482
})

In [17]:
dataset[0]['rationales']

["The text concisely summarizes the dataset, focusing on its critical aspects, and meets all the restrictions. It accurately describes the dataset's content and potential use, without speculating or mentioning unnecessary information.",
 'The text partially complies with the instruction. It summarizes the dataset\'s content and goal, but mentions "high-quality data," which is not explicitly mentioned in the dataset card and goes against the restriction of avoiding references to the quality of the dataset. Additionally, it\'s a bit wordy and could be more concise.']

One of the instructions we give the LLM is not to give quality judgements about the dataset in the card i.e. don't say things like "this is a high quality dataset". Although the judge LLM will identify some of these we can also do a much cheaper and simpler check by using a rules based approach.

In [37]:
def check_is_high_quality(row):
    generations = row['generations']
    # check for Nones
    if any(generation is None for generation in generations):
        return False
    return any("high quality" or "high-quality" in generation for generation in generations)

In [39]:
dataset.filter(check_is_high_quality)[0]

{'datasetId': 'argilla/databricks-dolly-15k-curated-en',
 'card': "In this dataset, you will find a collection of records that show a category, an instruction, a context and a response to that instruction. The aim of the project is to correct the instructions, intput and responses to make sure they are of the highest quality and that they match the task category that they belong to. All three texts should be clear and include real information. In addition, the response should be as complete but concise as possible.\nTo curate the dataset, you will need to provide an answer to the following text fields:\n1 - Final instruction:\nThe final version of the instruction field. You may copy it using the copy icon in the instruction field. Leave it as it is if it's ok or apply any necessary corrections. Remember to change the instruction if it doesn't represent well the task category of the record.\n2 - Final context:\nThe final version of the instruction field. You may copy it using the copy icon in the context field. Leave it as it is if it's ok or apply any necessary corrections. If the task category and instruction don't need of an context to be completed, leave this question blank.\n3 - Final response:\nThe final version of the response field. You may copy it using the copy icon in the response field. Leave it as it is if it's ok or apply any necessary corrections. Check that the response makes sense given all the fields above.\nYou will need to provide at least an instruction and a response for all records. If you are not sure about a record and you prefer not to provide a response, click Discard.\n## Fields\n* `id` is of type <class 'str'>\n* `category` is of type <class 'str'>\n* `original-instruction` is of type <class 'str'>\n* `original-context` is of type <class 'str'>\n* `original-response` is of type <class 'str'>\n## Questions\n* `new-instruction` : Write the final version of the instruction, making sure that it matches the task category. If the original instruction is ok, copy and paste it here.\n* `new-context` : Write the final version of the context, making sure that it makes sense with the task category. If the original context is ok, copy and paste it here. If an context is not needed, leave this empty.\n* `new-response` : Write the final version of the response, making sure that it matches the task category and makes sense for the instruction (and context) provided. If the original response is ok, copy and paste it here.\n## Load with Argilla\nTo load this dataset with Argilla, you'll just need to install Argilla as `pip install argilla --upgrade` and then use the following code:\n```python\nimport argilla as rg\nds = rg.FeedbackDataset.from_huggingface('argilla/databricks-dolly-15k-curated-en')\n```\n## Load with Datasets\nTo load this dataset with Datasets, you'll just need to install Datasets as `pip install datasets --upgrade` and then use the following code:\n```python\nfrom datasets import load_dataset\nds = load_dataset('argilla/databricks-dolly-15k-curated-en')\n```",
 'instruction': "\n<instructions>\nWrite a tl;dr summary of a dataset based on the dataset card. Focus on the most critical aspects of the dataset.\n\nThe summary should aim to concisely describe the dataset.\n</instructions>\n\n<card>\n\nIn this dataset, you will find a collection of records that show a category, an instruction, a context and a response to that instruction. The aim of the project is to correct the instructions, intput and responses to make sure they are of the highest quality and that they match the task category that they belong to. All three texts should be clear and include real information. In addition, the response should be as complete but concise as possible.\nTo curate the dataset, you will need to provide an answer to the following text fields:\n1 - Final instruction:\nThe final version of the instruction field. You may copy it using the copy icon in the instruction field. Leave it as it is if it's ok or apply any necessary corrections. Remember to change the instruction if it doesn't represent well the task category of the record.\n2 - Final context:\nThe final version of the instruction field. You may copy it using the copy icon in the context field. Leave it as it is if it's ok or apply any necessary corrections. If the task category and instruction don't need of an context to be completed, leave this question blank.\n3 - Final response:\nThe final version of the response field. You may copy it using the copy icon in the response field. Leave it as it is if it's ok or apply any necessary corrections. Check that the response makes sense given all the fields above.\nYou will need to provide at least an instruction and a response for all records. If you are not sure about a record and you prefer not to provide a response, click Discard.\n## Fields\n* `id` is of type <class 'str'>\n* `category` is of type <class 'str'>\n* `original-instruction` is of type <class 'str'>\n* `original-context` is of type <class 'str'>\n* `original-response` is of type <class 'str'>\n## Questions\n* `new-instruction` : Write the final version of the instruction, making sure that it matches the task category. If the original instruction is ok, copy and paste it here.\n* `new-context` : Write the final version of the context, making sure that it makes sense with the task category. If the original context is ok, copy and paste it here. If an context is not needed, leave this empty.\n* `new-response` : Write the final version of the response, making sure that it matches the task category and makes sense for the instruction (and context) provided. If the original response is ok, copy and paste it here.\n## Load with Argilla\nTo load this dataset with Argilla, you'll just need to install Argilla as `pip install argilla --upgrade` and then use the following code:\n```python\nimport argilla as rg\nds = rg.FeedbackDataset.from_huggingface('argilla/databricks-dolly-15k-curated-en')\n```\n## Load with Datasets\nTo load this dataset with Datasets, you'll just need to install Datasets as `pip install datasets --upgrade` and then use the following code:\n```python\nfrom datasets import load_dataset\nds = load_dataset('argilla/databricks-dolly-15k-curated-en')\n```\n\n</card>\n\n<instructions>\nIf the card provides the necessary information, say what the dataset can be used for.\nYou do not need to mention that the dataset is hosted or available on the Hugging Face Hub.\nDo not mention the license of the dataset.\nDo not mention the number of examples in the training or test split.\nOnly mention size if there is extensive discussion of the scale of the dataset in the dataset card.\nDo not speculate on anything not explicitly mentioned in the dataset card.\nIn general avoid references to the quality of the dataset i.e. don't use phrases like 'a high-quality dataset' in the summary.\n</instructions>\n\n<One sentence summary>",
 'system_prompt': 'You are a helpful, respectful and honest assistant`. Always answer as helpfully as possible, while being safe. Your answers should not include any harmful, unethical, racist, sexist, toxic, dangerous, or illegal content. Please ensure that your responses are socially unbiased and positive in nature.\nYour role is to write short tl;dr descriptions of datasets based on existing dataset cards',
 'generation_models': ['meta-llama/Meta-Llama-3-70B-Instruct',
  'NousResearch/Nous-Hermes-2-Mixtral-8x7B-DPO'],
 'generations': ['This dataset contains categorized records of instructions, contexts, and responses, curated to ensure clarity, accuracy, and relevance, suitable for training AI models to understand and respond to instructions effectively.',
  'The Databricks-Dolly-15k-Curated dataset comprises corrected records of instructions, context, and responses that adhere to specific categories, aiming to ensure high-quality data and real information, which can be utilized to enhance natural language understanding and generation tasks.'],
 'model_name': 'meta-llama/Meta-Llama-3-70B-Instruct',
 'ratings': [5, 3],
 'rationales': ["The text concisely summarizes the dataset, focusing on its critical aspects, and meets all the restrictions. It accurately describes the dataset's content and potential use, without speculating or mentioning unnecessary information.",
  'The text partially complies with the instruction. It summarizes the dataset\'s content and goal, but mentions "high-quality data," which is not explicitly mentioned in the dataset card and goes against the restriction of avoiding references to the quality of the dataset. Additionally, it\'s a bit wordy and could be more concise.']}

We also don't want the generated summaries to mention the licence of the dataset as this is already in the structured metadata.

In [40]:
for rationales in dataset[0]['rationales']:
    for rationale in rationales:
        if "license" in rationale:
            print(rationale)

In [41]:
import re

def check_license_text(text):
    # List of regex patterns for common software licenses and date formats
    license_patterns = [
        r'\bMIT License\b',
        r'\bGNU General Public License\b',
        r'\bGPL\b',
        r'\bApache License\b',
        r'\bBSD License\b',
        r'\bMozilla Public License\b',
        r'\bMPL\b',
        r'\bCreative Commons\b',
        r'\bCC-BY\b',
        r'\bCC-BY-SA\b',
        r'\bProprietary License\b',
        # Common date formats
        r'\b\d{4}-\d{2}-\d{2}\b',  # YYYY-MM-DD
        r'\b\d{4}/\d{2}/\d{2}\b',  # YYYY/MM/DD
        r'\b\d{2}/\d{2}/\d{4}\b',  # MM/DD/YYYY
        r'\b\d{2}/\d{2}/\d{4}\b',  # DD/MM/YYYY
        r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December) \d{1,2}, \d{4}\b'
    ]

    # Compile patterns into a single regex
    combined_pattern = re.compile('|'.join(license_patterns), re.IGNORECASE)

    # Check if any of the patterns match a substring within the text
    if combined_pattern.search(text):
        return True
    else:
        return False

# Example usage
texts = [
    "This software is licensed under the MIT License.",
    "Released under the GNU General Public License, version 3.",
    "This code follows the Apache License 2.0 guidelines.",
    "All rights reserved under a Proprietary License.",
    "The project is licensed under Creative Commons CC-BY-SA 4.0.",
    "The document was last updated on 2023-05-14.",
    "This agreement was signed on January 1, 2024.",
    "No relevant license or date information here."
]

# Testing the function
results = {text: check_license_text(text) for text in texts}
print(results)

{'This software is licensed under the MIT License.': True, 'Released under the GNU General Public License, version 3.': True, 'This code follows the Apache License 2.0 guidelines.': True, 'All rights reserved under a Proprietary License.': True, 'The project is licensed under Creative Commons CC-BY-SA 4.0.': True, 'The document was last updated on 2023-05-14.': True, 'This agreement was signed on January 1, 2024.': True, 'No relevant license or date information here.': False}

We can also filter on things like mentions of train and test splits, as this is not relevant to the summary of the dataset card and is something we prompt the model to not include.

In [10]:
import re

def check_train_test_val_splits(text):
    """
    Function to check for mentions of train, test, and validation splits in the provided text.

    Parameters:
    text (str): The input text to check.

    Returns:
    dict: A dictionary indicating whether train, test, and validation splits are mentioned.
    """

    # Define regex patterns for train, test, and validation splits
    patterns = {
        "train": re.compile(r'\btrain(?:ing)?(?:\s*set)?(?:\s*split)?\b', re.IGNORECASE),
        "test": re.compile(r'\btest(?:ing)?(?:\s*set)?(?:\s*split)?\b', re.IGNORECASE),
        "validation": re.compile(r'\b(?:validation|val|dev)(?:\s*set)?(?:\s*split)?\b', re.IGNORECASE),
        "numbers": re.compile(r'\b(?:\d+|\d*\.\d+)(?:\s*k|K|%|\s*percent)?\b', re.IGNORECASE)
    }

    # Initialize results dictionary
    results = {
        "train": False,
        "test": False,
        "validation": False,
        "numbers": []
    }

    # Check for matches in the text
    for key, pattern in patterns.items():
        if matches := pattern.findall(text):
            if key == "numbers":
                results[key].extend(matches)
            else:
                results[key] = True

    return results

# Example usage
text = """
The dataset is split into a training set, a test set, and a validation set.
"""

result = check_train_test_val_splits(text)
print(result)

{'train': True, 'test': True, 'validation': True, 'numbers': []}

## SQL rules

In [42]:
sql_dataset = load_dataset("gretelai/synthetic_text_to_sql", split="train")

In [43]:
sql_dataset

Dataset({
    features: ['id', 'domain', 'domain_description', 'sql_complexity', 'sql_complexity_description', 'sql_task_type', 'sql_task_type_description', 'sql_prompt', 'sql_context', 'sql', 'sql_explanation'],
    num_rows: 100000
})

In [47]:
sql_dataset[:4]['sql_prompt']

['What is the total volume of timber sold by each salesperson, sorted by salesperson?',
 'List all the unique equipment types and their corresponding total maintenance frequency from the equipment_maintenance table.',
 'How many marine species are found in the Southern Ocean?',
 'What is the total trade value and average price for each trader and stock in the trade_history table?']

# Preventing certain kinds of input

We may want to not allow users to add SQL to their prompts. This is something we can add at the application layer but we might also want to exclude this kind of prompt form our training data, especially since the model may appear to be doing better than it is if it is just copying the SQL from the prompt (and this won't be available in production).

In [51]:
sql_dataset.filter(lambda x: "SELECT" in x['sql_prompt'])[:]['sql_prompt']

['SELECT MemberID, Name, Age, Gender, AVG(WorkoutDuration) as AverageWorkoutDuration FROM Members JOIN Workouts ON Members.MemberID = Workouts.MemberID GROUP BY MemberID, Name, Age, Gender ORDER BY AverageWorkoutDuration DESC;',
 'SELECT MemberID, AVG(Steps) as AverageSteps, AVG(Calories) as AverageCalories, AVG(HeartRate) as AverageHeartRate FROM Wearables GROUP BY MemberID ORDER BY AverageSteps DESC;',
 "SELECT MemberID, COUNT(*) as WorkoutCountThisWeek FROM Workouts WHERE Date >= DATE_TRUNC('week', CURRENT_DATE) GROUP BY MemberID ORDER BY WorkoutCountThisWeek DESC;",
 "SELECT DISTINCT MemberID, Gender FROM Members WHERE State = 'CA';",
 "SELECT MemberID, WorkoutType, DATE_TRUNC('day', Date) as Day, MIN(Duration) as MinDurationPerDay FROM Workouts GROUP BY MemberID, WorkoutType, Day ORDER BY Day DESC;",
 "SELECT MemberID, COUNT(*) as WorkoutCountThisMonth FROM Workouts WHERE DATE_TRUNC('month', Date) = DATE_TRUNC('month', CURRENT_DATE) GROUP BY MemberID ORDER BY WorkoutCountThisMonth DESC;",
 "SELECT MemberID, COUNT(*) as WorkoutCountLastMonth FROM Workouts WHERE DATE_TRUNC('month', Date) = DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') GROUP BY MemberID ORDER BY WorkoutCountLastMonth DESC;"]

In [52]:
sql_dataset.filter(lambda x: "FROM" in x['sql_prompt'])[:4]['sql_prompt']

Filter:   0%|          | 0/100000 [00:00<?, ? examples/s]

['SELECT MemberID, Name, Age, Gender, AVG(WorkoutDuration) as AverageWorkoutDuration FROM Members JOIN Workouts ON Members.MemberID = Workouts.MemberID GROUP BY MemberID, Name, Age, Gender ORDER BY AverageWorkoutDuration DESC;',
 'SELECT MemberID, AVG(Steps) as AverageSteps, AVG(Calories) as AverageCalories, AVG(HeartRate) as AverageHeartRate FROM Wearables GROUP BY MemberID ORDER BY AverageSteps DESC;',
 "SELECT MemberID, COUNT(*) as WorkoutCountThisWeek FROM Workouts WHERE Date >= DATE_TRUNC('week', CURRENT_DATE) GROUP BY MemberID ORDER BY WorkoutCountThisWeek DESC;",
 "SELECT DISTINCT MemberID, Gender FROM Members WHERE State = 'CA';"]

## Preventing certain kinds of output

Similarly we may want to prevent the model from violating certain rules in the SQL it generates. We can do a more "formal" check or compilation of the SQL to check for this but we can also do a simple check for certain keywords or phrases that we don't want to appear in the generated SQL.

![](https://imgs.xkcd.com/comics/exploits_of_a_mom.png)

In [53]:
sql_dataset.filter(lambda x: "DROP" in x['sql'])[:4]['sql']

Filter:   0%|          | 0/100000 [00:00<?, ? examples/s]

['DROP TABLE vehicle_safety_testing;',
 'DROP TABLE redundant_billing_data;',
 'DROP TABLE conditions;',
 'DROP VIEW young_engineers;']

We can ask an LLM to help us identify things we might want to be checking for. In the past we might have been to lazy to write a lot of functions that will only capture very small amounts of rules but with the LLM we can do this much more easily.

![](claude_sql.png)

In [54]:
import re

def has_double_quoted_strings(sql):
    pattern = r'"[^"]*"'
    matches = re.findall(pattern, sql)
    return len(matches) > 0

In [55]:
sql_dataset.filter(lambda x: has_double_quoted_strings(x["sql"]))['sql']

['SELECT program_id FROM professional_development JOIN teachers t ON professional_development.attended_teacher_id = t.teacher_id GROUP BY program_id HAVING COUNT(DISTINCT t.teacher_id) > 1 AND t.state = "NY";',
 'SELECT COUNT(*) FROM students s1 WHERE s1.mental_health_score > (SELECT AVG(s2.mental_health_score) FROM students s2 WHERE s2.state = "CA");',
 'SELECT YEAR(completion_date) AS "Completion Year", COUNT(*) FROM economic_diversification WHERE project_status = \'completed\' GROUP BY YEAR(completion_date);',
 'SELECT MIN(listing_price) AS "Lowest Price", MAX(listing_price) AS "Highest Price" FROM sustainable_urban WHERE city = \'New York\';',
 'SELECT MIN(productivity) AS "Minimum productivity", MAX(productivity) AS "Maximum productivity" FROM productivity WHERE department = \'environment\' AND year = 2021;',
 'SELECT MIN(program_count) AS "Minimum community programs", MAX(program_count) AS "Maximum community programs" FROM community_programs WHERE country IN (\'Latin America\');',
 'SELECT MIN(marine_species.water_temperature) AS "Minimum Water Temperature", MAX(marine_species.water_temperature) AS "Maximum Water Temperature" FROM marine_species WHERE marine_species.region = \'Pacific Ocean\';',
 'SELECT YEAR(completion_date) AS "Completion Year", COUNT(*) FROM rural_infrastructure WHERE project_status = \'completed\' AND country IN (\'Eastern Europe\') AND completion_date >= DATE_SUB(NOW(), INTERVAL 5 YEAR) GROUP BY YEAR(completion_date);',
 'SELECT MIN(loan_amount) as "Min Loan Amount", MAX(loan_amount) as "Max Loan Amount" FROM socially_responsible_lending_sa WHERE country IN (\'Brazil\', \'Argentina\', \'Colombia\');',
 'SELECT MIN(listing_price) AS "Lowest Price", MAX(listing_price) AS "Highest Price" FROM prop_listings;',
 'SELECT type, MIN(price) AS "Min Price", MAX(price) AS "Max Price" FROM property GROUP BY type;',
 'SELECT vm.model, AVG(st.result) as "Average Safety Score" FROM Vehicle_Models vm JOIN Safety_Tests st ON vm.model_id = st.model_id JOIN Country c ON vm.country_id = c.country_id WHERE c.country_name = \'USA\' GROUP BY vm.model;']

In [11]:
def has_having_without_group_by(sql):
    pattern = r'HAVING\s+(?!.*\bGROUP\s+BY\b)'
    match = re.search(pattern, sql, re.IGNORECASE | re.DOTALL)
    return match is not None

In [13]:
def has_sum_without_null_handling(sql):
    pattern = r'SUM\s*\(\s*\w+\s*\)'
    match = re.search(pattern, sql, re.IGNORECASE)
    return match is not None

In [14]:
sql_dataset.filter(lambda x: has_sum_without_null_handling(x["sql"]))['sql']

Filter:   0%|          | 0/100000 [00:00<?, ? examples/s]

['SELECT salesperson_id, name, SUM(volume) as total_volume FROM timber_sales JOIN salesperson ON timber_sales.salesperson_id = salesperson.salesperson_id GROUP BY salesperson_id, name ORDER BY total_volume DESC;',
 'SELECT equipment_type, SUM(maintenance_frequency) AS total_maintenance_frequency FROM equipment_maintenance GROUP BY equipment_type;',
 'SELECT SUM(spending) FROM defense.eu_humanitarian_assistance WHERE year BETWEEN 2019 AND 2021;',
 "SELECT SUM(fare) FROM bus_routes WHERE route_name = 'Green Line';",
 "SELECT SUM(Amount) AS TotalAssistance, Country FROM HumanitarianAssistance WHERE Organization NOT IN ('Government', 'Military') AND Year BETWEEN 2016 AND 2020 GROUP BY Country;",
 "SELECT SUM(value) FROM socially_responsible_loans WHERE client_gender = 'female' AND date BETWEEN '2021-07-01' AND '2021-12-31';",
 "SELECT SUM(data_usage) FROM mobile_usage WHERE city = 'Toronto' AND year = 2022;",
 'SELECT region, SUM(incidents) as total_incidents FROM incident_region WHERE incident_date > DATE(NOW()) - INTERVAL 365 DATE GROUP BY region;',
 'SELECT SUM(personnel) FROM us_military_personnel WHERE year IN (2018, 2019, 2020);',
 "SELECT language, DATE_TRUNC('week', publish_date) as week, SUM(word_count) as total_word_count FROM Articles GROUP BY language, week ORDER BY week;",
 'SELECT category, start_year, COUNT(*), SUM(budget) FROM economic_diversification WHERE start_year >= 2019 GROUP BY category, start_year;',
 'SELECT SUM(revenue) FROM BrandRevenue WHERE circular_model = TRUE AND year = 2020;',
 'SELECT country, SUM(amount) as total_textile_waste FROM textile_waste WHERE year = 2021 GROUP BY country;',
 'SELECT Region, SUM(AmountDonated) as TotalDonated FROM Donors GROUP BY Region;',
 "SELECT SUM(quantity) FROM cotton_source WHERE country = 'USA' AND brand IN (SELECT brand FROM fair_labor WHERE commitment = 'yes');",
 'SELECT SUM(DonationAmount) FROM Donors WHERE Age >= 40;',
 "SELECT SUM(Personnel) FROM MilitaryCyberOps WHERE Region = 'Asia';",
 "SELECT resource_type, SUM(quantity) as total_quantity, extraction_date FROM resource_extraction WHERE resource_type IN ('gold', 'silver') GROUP BY resource_type, extraction_date;",
 "SELECT name FROM menu_items WHERE restaurant_id = 3 AND available_time < '17:00:00' GROUP BY name HAVING SUM(available) = 0;",
 "SELECT SUM(water_consumption) FROM industrial_customers WHERE location IN ('Texas', 'Oklahoma');",
 "SELECT type, SUM(quantity) as total_production FROM production WHERE region = 'Southern' GROUP BY type;",
 "SELECT SUM(num_vehicles) FROM electric_vehicles WHERE country IN ('China', 'Japan');",
 'SELECT SUM(budget) FROM african_region_table;',
 "SELECT SUM(price) FROM quick_service.menu_items WHERE category = 'Vegan Burger' OR category = 'Fruit Bowl';",
 'SELECT SUM(capacity) FROM projects WHERE implementation_date >= DATEADD(year, -1, GETDATE());',
 "SELECT SUM(sale_price) FROM EquipmentSales WHERE country = 'Canada';",
 "SELECT material, SUM(quantity) as total_quantity FROM fair_trade_suppliers WHERE name IN ('Fair Trade Farms', 'Green Earth') GROUP BY material ORDER BY total_quantity DESC LIMIT 2;",
 'SELECT SUM(revenue) FROM Restaurants WHERE seating_capacity > 100;',
 "SELECT SUM(mass) FROM spacecraft WHERE manufacturer = 'SpaceX';",
 "SELECT SUM(number_thousands) FROM electric_vehicles WHERE country = 'China' AND year = 2021;",
 'SELECT category, SUM(sales) FROM menu GROUP BY category;',
 'SELECT category, SUM(count) OVER (PARTITION BY category) FROM crimes;',
 'SELECT SUM(sale_price) FROM Sales WHERE is_sustainable = true AND sale_date >= DATEADD(year, -1, GETDATE());',
 'SELECT Gender, SUM(DonationAmount) FROM Donors GROUP BY Gender;',
 "SELECT SUM(Revenue) FROM GameSales WHERE GameType = 'Mobile' AND SaleDate >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR)",
 'SELECT supplier, SUM(num_workers) FROM labor_practices GROUP BY supplier;',
 "SELECT AVG(Rainfall) as AvgAnnualRainfall, SUM(MaintenanceCost) as TotalAnnualMaintenanceCost  FROM BridgeRainfall  WHERE Region = 'Northwest' AND Year >= YEAR(CURRENT_DATE) - 5 GROUP BY Year;",
 "SELECT SUM(energy_stored) FROM battery_storage WHERE country IN ('Japan', 'South Korea') AND year = 2020;",
 "SELECT SUM(count) FROM whale_sharks WHERE species = 'Rhincodon typus' AND region = 'Indo-Pacific';",
 "SELECT SUM(quantity) FROM YtterbiumProduction WHERE country = 'Russia' AND year = 2016;",
 "SELECT SUM(donation_amount) FROM donors WHERE donor_name NOT IN (SELECT donor_name FROM donors WHERE donation_date < '2021-01-01' OR donation_date > '2021-12-31') AND donation_date BETWEEN '2021-01-01' AND '2021-12-31' AND donor_country = 'USA';",
 "SELECT SUM(workout_duration) FROM Workout WHERE country = 'Australia';",
 "SELECT SUM(total_funding) FROM Funding WHERE funding_source = 'California Arts Council' AND region = 'California' AND YEAR(event_date) = 2022",
 "SELECT SUM(billing_amount) FROM family_cases WHERE case_type = 'family';",
 "SELECT SUM(horsepower) FROM green_vehicles WHERE make = 'Tesla' OR make = 'Rivian';",
 "SELECT SUM(Budget) FROM Programs WHERE FocusArea = 'Disaster Relief' AND StartDate <= GETDATE() AND EndDate >= DATEADD(year, -2, GETDATE());",
 'SELECT state, SUM(total_data_usage) FROM (SELECT state, total_data_usage FROM state_usage WHERE state IN (SELECT state FROM state_usage WHERE total_data_usage = (SELECT MIN(total_data_usage) FROM state_usage) ORDER BY RAND() LIMIT 2) ORDER BY total_data_usage DESC) subquery GROUP BY state;',
 "SELECT SUM(investment) FROM economic_diversification WHERE country = 'Nigeria' AND year = 2019;",
 "SELECT SUM(Funding_Received) FROM Agricultural_Projects WHERE Led_By = 'Women' AND Year = 2020 AND Location = 'Kenya';",
 "SELECT Material, SUM(Quantity) as TotalQuantity FROM Materials WHERE Material NOT IN ('Organic Cotton', 'Recycled Polyester') GROUP BY Material ORDER BY TotalQuantity DESC;",
 "SELECT SUM(revenue) FROM Organic_Cosmetics WHERE category = 'Lipsticks';",
 "SELECT SUM(amount) FROM transactions WHERE country IN ('India', 'Brazil');",
 'SELECT city, SUM(installed_capacity) FROM renewable_energy_projects GROUP BY city;',
 "SELECT SUM(price) as total_revenue FROM sales WHERE is_fair_trade = true AND YEAR(sale_date) >= 2019 AND location = 'Africa';",
 'SELECT SUM(production_cost) FROM companies WHERE num_sustainable_materials > 5;',
 'SELECT year, SUM(production) as total_production FROM crops_year GROUP BY year;',
 "SELECT SUM(carbon_offset_tons) FROM CarbonOffsetInitiatives WHERE location = 'RegionC';",
 "SELECT SUM(donation_amount) FROM donors WHERE state = 'New York' AND donation_amount > 100;",
 "SELECT category, (SUM(revenue) / (SELECT SUM(revenue) FROM category_revenue WHERE sale_date BETWEEN '2022-01-01' AND '2022-12-31')) * 100 FROM category_revenue WHERE sale_date BETWEEN '2022-01-01' AND '2022-12-31' GROUP BY category;",
 "SELECT SUM(length) FROM Videos WHERE content_creator_region = 'Southeast Asia';",
 "SELECT SUM(Amount) FROM Budget WHERE Year = 2020 AND Category = 'Infrastructure';",
 'SELECT country, SUM(posts) as total_posts FROM user GROUP BY country ORDER BY total_posts DESC LIMIT 3;',
 "SELECT Plant, SUM(Wastewater) FROM WastewaterTreatment WHERE Date = '2021-10-01' GROUP BY Plant HAVING SUM(Wastewater) > 1600;",
 "SELECT SUM(production_budget) FROM MovieBudgets INNER JOIN Movies ON MovieBudgets.movie_id = Movies.movie_id WHERE release_date >= '2018-01-01' AND release_date < '2019-01-01' AND rating >= 8;",
 "SELECT store_id, store_name, SUM(quantity_sold) as total_sold FROM Sales JOIN Stores ON Sales.store_id = Stores.store_id WHERE product_name = 'Eco-Friendly Denim Jacket' GROUP BY store_id, store_name ORDER BY total_sold DESC;",
 'SELECT Sector, SUM(Amount) OVER (PARTITION BY Sector ORDER BY SUM(Amount) DESC) AS TotalAmount, RANK() OVER (ORDER BY SUM(Amount) DESC) AS Rank FROM Grants GROUP BY Sector ORDER BY Rank;',
 "SELECT SUM(funding_amount) FROM investments JOIN companies ON investments.company_id = companies.id WHERE companies.founder_gender = 'female';",
 'SELECT supplier_name, SUM(total_supply) FROM suppliers JOIN circular_supply_chain_products ON suppliers.id = circular_supply_chain_products.supplier_id GROUP BY supplier_name ORDER BY SUM(total_supply) DESC;',
 "SELECT SUM(artworks) FROM artworks WHERE collection LIKE '%Europe%' AND gender = 'Male';",
 'SELECT SUM(oil_volume) FROM oil_production WHERE year = 2020;',
 'SELECT country, SUM(cost) AS total_cost FROM space_programs GROUP BY country;',
 'SELECT genre, quarter, SUM(budget) FROM MarketingBudget GROUP BY genre, quarter;',
 "SELECT SUM(amount_donated) FROM donors WHERE country = 'US';",
 "SELECT SUM(funding) FROM companies WHERE founders_lgbtq = true AND industry = 'biotech';",
 'SELECT department, SUM(amount) as total_budget FROM Budget WHERE YEAR(budget_date) = 2019 GROUP BY department;',
 'SELECT country, SUM(amount) as total_financing FROM shariah_financing WHERE country IN (SELECT country FROM (SELECT country, ROW_NUMBER() OVER (ORDER BY SUM(amount) DESC) as rank FROM shariah_financing GROUP BY country) WHERE rank <= 3) GROUP BY country;',
 "SELECT SUM(daily_distance) FROM london_buses WHERE date = '2022-03-01';",
 'SELECT Type, SUM(Records) FROM Feedback WHERE Year = 2022 GROUP BY Type;',
 "SELECT FabricType, SUM(Quantity) as TotalQuantity FROM FabricInventory JOIN ClothingItems ON FabricInventory.ItemID = ClothingItems.ItemID WHERE ProductionDate BETWEEN '2021-01-01' AND '2021-12-31' AND Sustainable = true GROUP BY FabricType;",
 "SELECT Destination, SUM(SustainabilityRating) AS TotalRating FROM SustainabilityRatings WHERE Country = 'United Arab Emirates' OR Country = 'Israel' OR Country = 'Turkey' AND SustainabilityRating < 5 GROUP BY Destination ORDER BY TotalRating ASC;",
 "SELECT SUM(precipitation) FROM iot_sensors WHERE location = 'Germany' AND reading_time BETWEEN DATE_FORMAT(NOW(), '%Y-%m-01') AND LAST_DAY(NOW());",
 'SELECT supporter, amount, SUM(amount) OVER (ORDER BY supporter) AS running_total FROM donations;',
 'SELECT name, SUM(co2_emissions) FROM conservation_projects GROUP BY name;',
 "SELECT SUM(Sales) FROM PharmaSales WHERE DrugName = 'DrugC' AND Year = 2016;",
 "SELECT SUM(cost) FROM Ingredients WHERE dish_id IN (SELECT dish_id FROM Dishes WHERE dish_name = 'Falafel Wrap') AND ingredient_name NOT IN ('Hummus', 'Pita Bread');",
 'SELECT SUM(co2_emission) as total_emission FROM (SELECT country, co2_emission FROM Co2Emissions WHERE year = 2020 ORDER BY co2_emission DESC LIMIT 3) t;',
 "SELECT SUM(Population) FROM Endangered_Species WHERE Status = 'Critically Endangered';",
 'SELECT type, SUM(capacity) as total_capacity FROM storage GROUP BY type ORDER BY total_capacity DESC;',
 'SELECT state, SUM(revenue) as total_revenue FROM States GROUP BY state ORDER BY total_revenue DESC LIMIT 5;',
 "SELECT menu_name, SUM(quantity_sold) as total_quantity FROM order_details o JOIN orders ON o.order_id = orders.order_id JOIN menu m ON o.menu_id = m.menu_id WHERE region = 'South' AND menu_category = 'Dessert' GROUP BY menu_name ORDER BY total_quantity DESC LIMIT 5;",
 'SELECT Country, SUM(TotalDonation) FROM Donors GROUP BY Country;',
 "SELECT SUM(capacity) FROM wind_projects WHERE city = 'Seattle';",
 'SELECT location, species, SUM(biomass) biomass FROM fish_biomass WHERE year BETWEEN 2011 AND 2021 GROUP BY location, species;',
 'SELECT SUM(cost) FROM SupportPrograms;',
 "SELECT plan_type, state, SUM(data_usage)/1024/1024/1024 FROM mobile_usage WHERE state = 'Florida' GROUP BY plan_type;",
 "SELECT SUM(assets) FROM (SELECT client_id, assets FROM client_assets WHERE client_id IN (SELECT client_id FROM clients WHERE last_transaction_date >= '2021-10-01' AND last_transaction_date <= '2021-12-31')) clients_assets_q4",
 'SELECT ProductCategory, SUM(Amount) AS TotalRevenue FROM Sales JOIN Revenue ON Sales.SaleID = Revenue.SaleID WHERE SaleDate >= DATEADD(MONTH, -1, GETDATE()) GROUP BY ProductCategory;',
 'SELECT region, SUM(violation_count) FROM mental_health_parity GROUP BY region;',
 'SELECT Region, SUM(Amount) FROM Expenditure WHERE Quarter = 1 AND Year = 2023 GROUP BY Region;',
 "SELECT SUM(WasteGeneration) FROM (SELECT Country, WasteGeneration FROM WasteData WHERE Continent = 'Africa' AND RecyclingRate < (SELECT AVG(RecyclingRate) FROM WasteData WHERE Continent = 'Africa') GROUP BY Country ORDER BY WasteGeneration DESC FETCH FIRST 2 ROWS ONLY) tmp;",
 "SELECT SUM(size) FROM public_buildings WHERE state IN ('New York', 'Illinois');",
 "SELECT WasteType, SUM(Quantity) FROM WasteGeneration WHERE City = 'Mumbai' AND Year = 2020 GROUP BY WasteType;",
 'SELECT country, SUM(capacity) FROM landfill_capacity_north_america WHERE year = 2021 GROUP BY country;',
 'SELECT hotel_id, hotel_name, SUM(views) FROM apac_hotel_views GROUP BY hotel_id, hotel_name;',
 "SELECT (SUM(CASE WHEN Service = 'Education' THEN Budget ELSE 0 END) / SUM(Budget)) * 100 FROM Budget WHERE Year IN (2020, 2021);",
 "SELECT SUM(trip_count) FROM public_transportation WHERE trip_date BETWEEN '2023-01-01' AND '2023-01-31';",
 'SELECT SUM(runtime) FROM episodes WHERE tv_show_id = 1;',
 "SELECT SUM(juvenile) FROM diversion_programs WHERE region = 'Southern';",
 "SELECT funding_source_type, SUM(amount_funded) FROM funding_sources WHERE event_name IN (SELECT event_name FROM events WHERE event_category = 'visual arts') GROUP BY funding_source_type;",
 "SELECT SUM(installed_capacity) FROM wind_energy_projects WHERE state = 'California' AND year = 2020;",
 'SELECT supplier_id, SUM(total_shipped) as total_organic_shipments FROM shipments WHERE organic = true AND year = 2021 GROUP BY supplier_id ORDER BY total_organic_shipments DESC FETCH FIRST 1 ROW ONLY;',
 "SELECT SUM(contract_value) FROM military_contracts WHERE country = 'India' AND company_gender = 'Women-Owned Business' ORDER BY contract_value DESC;",
 "SELECT SUM(num_tickets_sold) AS total_tickets_sold FROM events WHERE event_type = 'Outdoor Concert';",
 "SELECT Region, PERCENTAGE(SUM(OnTime) OVER (PARTITION BY Region) / COUNT(*) OVER (PARTITION BY Region)) as PercentageOnTime FROM ProjectTimelineByBudget WHERE Region = 'Pacific' AND Half = 2 AND Budget > 10000000;",
 "SELECT SUM(revenue) FROM Hotels WHERE eco_certified = TRUE AND country IN ('Americas') AND rooms > 100 AND YEAR(date) = 2022;",
 'SELECT EXTRACT(MONTH FROM DonationDate) Month, SUM(DonationAmount) TotalDonations FROM DonationHistory WHERE DonationDate >= DATEADD(year, -1, CURRENT_DATE) GROUP BY EXTRACT(MONTH FROM DonationDate);',
 'SELECT SUM(MappingLength) FROM MappingLengths;',
 "SELECT SUM(amount) as total_donation FROM donations WHERE donor IN ('Sophia Lee', 'Ali Al-Khaleej') AND YEAR(donation_date) = 2022;",
 'SELECT SUM(population) FROM City WHERE YEAR(founded) < 1800;',
 'SELECT district, SUM(votes) AS total_votes, (SUM(votes) / MAX(total_voters)) * 100 AS turnout_percentage FROM elections GROUP BY district;',
 'SELECT SUM(amount) FROM investments;',
 "SELECT country, SUM(amount) as total_food_aid FROM disaster_response WHERE aid_type = 'food' AND date >= DATE_SUB(CURRENT_DATE, INTERVAL 5 YEAR) GROUP BY country ORDER BY total_food_aid DESC;",
 'SELECT region, SUM(personnel) FROM military_personnel GROUP BY region ORDER BY SUM(personnel) DESC',
 "SELECT SUM(total_cost) FROM nasa_mars_program WHERE name = 'Mars Exploration Program';",
 "SELECT artist, SUM(tickets_sold) AS total_tickets_sold FROM concert_sales WHERE date BETWEEN '2022-11-01' AND '2022-11-30' GROUP BY artist ORDER BY total_tickets_sold DESC LIMIT 1;",
 "SELECT salesperson, SUM(revenue) FROM sales WHERE revenue IS NOT NULL AND salesperson IS NOT NULL AND STR_TO_DATE(CONCAT('01-', MONTH(NOW())), '%d-%m-%Y') = STR_TO_DATE('01-2022', '%d-%m-%Y') GROUP BY salesperson;",
 "SELECT SUM(recycling_rate) AS total_recycling_rate FROM recycling_rates_state WHERE state = 'Texas' AND year = 2015;",
 'SELECT Genre, SUM(Revenue) as TotalRevenue FROM GameSales GROUP BY Genre;',
 'SELECT SupplierID, SUM(Quantity) FROM FabricData WHERE Recycled = true AND FabricDate >= DATE_SUB(CURRENT_DATE, INTERVAL 1 YEAR) GROUP BY SupplierID;',
 'SELECT SUM(amount) FROM food_assistance fa JOIN displaced_people d ON fa.country = d.country WHERE d.food_assistance_given = TRUE;',
 "SELECT SUM(contract_value) FROM contracts WHERE business_zone = 'HUBZone' AND contract_date >= DATE_SUB(CURRENT_DATE, INTERVAL 1 YEAR);",
 "SELECT SUM(meeting_count) FROM defense.russia_nato_diplomacy WHERE year BETWEEN 2020 AND 2021 AND country IN ('NATO', 'Russia');",
 'SELECT lawyer_name, SUM(cases_heard) AS total_cases_heard FROM lawyers GROUP BY lawyer_name ORDER BY total_cases_heard DESC LIMIT 3;',
 "SELECT category, DATE_FORMAT(waste_date, '%Y-%m') AS Month, SUM(quantity) FROM waste_data GROUP BY Month, category;",
 'SELECT site_id, material_date, SUM(quantity) OVER (PARTITION BY site_id ORDER BY material_date) as total_quantity FROM materials;',
 'SELECT SUM(revenue) FROM Menu_Item WHERE is_organic = true;',
 "SELECT SUM(length) as total_length FROM songs WHERE genre = (SELECT genre FROM genres WHERE genre = 'pop');",
 'SELECT Country, SUM(SpendingAmount) as TotalSpending FROM Budget WHERE Year BETWEEN EXTRACT(YEAR FROM CURRENT_DATE)-5 AND EXTRACT(YEAR FROM CURRENT_DATE) GROUP BY Country;',
 'SELECT team, SUM(tickets_sold) as total_tickets_sold FROM ticket_sales WHERE season = 2022 GROUP BY team;',
 'SELECT state, development_type, SUM(num_developments) FROM sustainable_urbanism GROUP BY state, development_type;',
 "SELECT ota_id, SUM(revenue) as total_revenue FROM bookings WHERE region = 'Africa' GROUP BY ota_id;",
 'SELECT player, SUM(goals) FROM scores WHERE year = 2022 GROUP BY player ORDER BY SUM(goals) DESC LIMIT 1;',
 "SELECT SUM(capacity) FROM landfills WHERE country = 'Japan';",
 "SELECT SUM(Cost) FROM Green_Building_Materials WHERE City = 'Los Angeles' AND Year = 2020 AND Material_Type IN ('Solar Panels', 'Energy-efficient Windows');",
 'SELECT garment, category, quantity, 100.0 * quantity / SUM(quantity) OVER (PARTITION BY category) as percentage FROM sales ORDER BY percentage DESC;',
 "SELECT SUM(area_size) FROM marine_protected_areas WHERE location = 'Southern Hemisphere';",
 "SELECT SUM(NumPieces) FROM ArtSales WHERE GalleryName = 'Metropolitan Art Gallery' AND YEAR(SaleDate) = 2021;",
 "SELECT Region, PERCENTAGE(SUM(OnTime) OVER (PARTITION BY Region) / COUNT(*) OVER (PARTITION BY Region)) as PercentageOnTime FROM ProjectTimeline WHERE Region = 'Central' AND Year = 2021;",
 'SELECT material, SUM(quantity) FROM product GROUP BY material;',
 'SELECT SUM(population) FROM City WHERE population_density > 5000;',
 "SELECT department, state, SUM(amount) as total_spending FROM spending WHERE year = 2021 AND department = 'Education' GROUP BY department, state;",
 "SELECT manufacturer, SUM(quantity) FROM manufacturer_sales WHERE vehicle_type = 'EV' GROUP BY manufacturer;",
 'SELECT SUM(Duration) FROM Workouts WHERE MemberID = 2 AND YEAR(WorkoutDate) = 2020;',
 "SELECT region, SUM(cost) FROM climate_adaptation WHERE year = 2017 AND region = 'Southeast Asia' GROUP BY region;",
 "SELECT SUM(value) FROM ArtPieces WHERE style = 'Impressionism';",
 'SELECT agency, SUM(value) as total_contract_value FROM defense_contracts_v2 WHERE value > 0 GROUP BY agency ORDER BY total_contract_value DESC;',
 "SELECT SUM(count) FROM vehicle_counts WHERE region = 'south' AND (vehicle_type = 'buses' OR vehicle_type = 'trams');",
 "SELECT DefenseSpending.country, DefenseSpending.spending, (DefenseSpending.spending / (SELECT SUM(spending) FROM DefenseSpending WHERE DefenseSpending.year = 2022 AND DefenseSpending.country IN ('USA', 'UK', 'France', 'Germany', 'Italy'))) * 100 as percentage FROM DefenseSpending WHERE DefenseSpending.year = 2022 AND DefenseSpending.country IN ('USA', 'UK', 'France', 'Germany', 'Italy');",
 'SELECT country, SUM(num_employees) FROM mining_sites GROUP BY country;',
 'SELECT medium, SUM(value) as total_value FROM artworks GROUP BY medium;',